@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
}

body {
    background-image: url("/justin-park.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Media query for screens larger than 768 pixels */
@media (min-width: 768px) {
    body {
        background-position: center; /* Center the image horizontally and position it at the top vertically */
    }
}